#login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-box {
  box-shadow: 0px 0px 15px -5px black;
}

#loginLink {
  padding-top: 8px;
  float: left;
}
#loginButton {
  float: left;
}
