/** This file centralize the styling of client website */

/* all pages */
.scholly-header {
  top: 0;
}

/* top padding for each page, to avoid overlapping with header */
.pages-top-padding {
  padding-top: 50px;
}

/* side padding for each page */
.pages-side-padding {
  padding-left: 95px;
  padding-right: 95px;
}

/* side padding for publications page */
.page-publications-side-padding {
  padding-left: 35px;
  padding-right: 35px;
}

/* Body for each page */
.container-body {
  align-content: center;
  justify-content: center;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 40px;
}

/* Break line between pages heading and body for publication page */
.publication-container-body {
  align-content: center;
  justify-content: center;
  border-top-style: solid;
  border-top-color:grey;
  border-width: 1px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 16px;
}

/* landing pages */
.landing-carousel-img {
  height: 300px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.left {
  float: left;
  padding: 0 20px 20px 0;
  width: 50%;
  height: 30%;
}

.landing-image {
  padding-top: 24px;
  padding-left: 40px;
}
.landing-center-title {
  text-align: center;
  padding-top: 25px;
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px;
  font-size: xx-large;
}

.landing-center-content {
  text-align: left;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: medium;
}

.recent-publications-title {
  text-align: left;
  padding-top: 25px;
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px;
  font-size: xx-large;
}

.recent-publications-body {
  padding-left: 50px;
}

/* publication page */
.publication-pg-title {
  text-align: center;
  padding-top: 8px;
  font-weight: 460;
  padding-left: 40px;
  padding-right: 40px;
  font-size: xx-large;
}

.publication-title {
  font-size: large;
  text-align: left;
  font-weight: 600;
}

.publication-title-column {
  background-color: white;
  border: transparent;
}

.publication-category-info {
  padding-left: 0px;
}

.publication-body-column {
  border: transparent;
}

.publication-card {
  border: transparent;
  padding-bottom: 15px;
  text-align: left;
}

.publication-row {
  padding-top: 10px;
}

.pub-category-above-title {
  font-style: italic;
  font-size: medium;
  text-align: left;
  font-weight: 450;
}

.pub-year-below-title {
  font-style: italic;
  text-align: left;
  padding-top: 1px;
  padding-right: 6px;
}

.pub-pdf-link {
  text-align: left;
  padding-left: 0px;
  padding-right: 6px;
}

.pub-body-subheader {
  text-align: center;
  font-style: italic;
  font-size: medium;
  font-weight: 450;
}

.pub-body-content {
  text-align: left;
  font-size: medium;
  padding-bottom: 15px;
}

.pub-body-paragraph {
  text-indent: 1%;
  text-align: justify;
  text-align-last: center;
}

.pub-twitter-right {
  float: right;
  width: 20%;
  height: inherit;
  max-width: 333px;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .pub-twitter-right {
    display: none !important;
  }
}

.twitter-feed {
  border: 1px solid #ccc !important;
  border-radius: 16px;
  margin-top: 60px;
  position: fixed;
}

.pub-left-main {
  width: 80%;
  float: left;
}


.twitter-feed {
  border: 1px solid #ccc !important;
  border-radius: 16px;
  margin-top: 60px;
  position: fixed;
}

.pub-left-main {
  width: 80%;
  float: left;
}

/* team page */
.team-pg-title {
  text-align: center;
  padding-top: 8px;
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px;
  font-size: xx-large;
}

.teamMemberBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.team-member-name {
  font-weight: bold;
  font-size: 18px;
}

.team-member-position {
  font-weight: bold;
  font-size: 15px;
}

.team-member-summary {
  font-size: 15px;
}

.team-card-container {
  padding-left: 110px;
  padding-right: 110px;
}

.team-card {
  border: transparent;
  min-width: 210px;
  max-width: 210px;
}

.card-deck {
  align-content: center;
  justify-content: center;
  border-top-style: solid;
  border-top-color:grey;
  border-width: 1px;
  padding-top: 20px;
}

.button-pub{
  margin: 10px 0 5px 0;
}

/* achievement page */

.achievementBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#achievementImage {
  padding-top: 10px;
}

.award-name {
  font-weight: bold;
  font-size: 15px;
}

.award-year {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.award-summary {
  font-size: 15px;
}

.fontx {
  font-family: "Verdana", sans-serif;
}

