.publicationList {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  border: solid rgb(96, 96, 97);
  border-width: thin;
  border-color: rgb(212, 207, 205);
}

.publicationListHeader {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}

.newlyAddedPublicationHeader {
  background-color: rgb(60, 179, 113);
}

.modalHeader {
  background-color: rgb(240, 240, 240);
}

.blur {
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.placeholder-text::placeholder {
  color: #a9a9a9;
}

.pub-page-pub-col {
  width: 80%;
  float: left;
}

.pub-page-tweet-col {
  float: right;
  width: 20%;
  height: inherit;
  max-width: 333px;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .pub-page-tweet-col {
    display: none !important;
  }
}
