.publicationPageContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.publicationList {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  border-width: thin;
  border-color: rgb(212, 207, 205);
}
.newlyAddedPublicationHeader {
  background-color: rgb(60, 179, 113);
}

.publicationHeader {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
}

.publicationHeader:hover {
  background-color: rgb(231, 229, 229);
  border: 1px solid rgb(240, 240, 240);
}

.blur {
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3px;
}

.placeholder-text::placeholder {
  color: #a9a9a9;
}

.pubs-props {
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
  color: #535151;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pubs-title {
  font-size: 19px;
  padding: 10px;
  font-weight: 500;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pub {
  background-color: white;
}

.pub:hover {
  cursor: pointer;
}

.publication-container {
  border: 2px solid rgb(214, 214, 214);
  border-width: thin;
  border-radius: 10px;
  overflow: hidden;
}
