.publicationList {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  border: solid rgb(96, 96, 97);
  border-width: thin;
  border-color: rgb(212, 207, 205);
}

.modalHeader {
  background-color: rgb(240, 240, 240);
}
