.scholly-header {
  top: 0;
}

.landing-carousel-img {
  height: 300px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.landing-center-title {
  text-align: center;
  padding-top: 25px;
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px;
  font-size: xx-large;
}

.landing-center-content {
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: medium;
}

.landing-top-padding {
  padding-top: 50px;
}
