:root {
    --researchify-text-color: #fff;
    --researchify-link-color: #c7c7c7;
    --researchify-color-primary: #474747;
    --researchify-color-secondary: #212121;
    --researchify-color-tertiary: #333333;
    --researchify-color-quaternary: #000;
    --researchify-color-quinary: #888888;
}