:root {
    --researchify-text-color: #000;
    --researchify-link-color: #ffb3c1;
    --researchify-color-primary: #ffb3c1;
    --researchify-color-secondary: #ff4d6d;
    --researchify-color-tertiary: #ff8fa3;
    --researchify-color-quaternary: #ff4d6d;
    --researchify-color-quinary: #ff8fa3;
}