:root {
    --researchify-text-color: #000;
    --researchify-link-color: #BDDBD0;
    --researchify-color-primary: #e4e1d6;
    --researchify-color-secondary: #656839;
    --researchify-color-tertiary: #CBD0B9;
    --researchify-color-quaternary: #656839;
    --researchify-color-quinary: #CBD0B9;
}