:root {
    --researchify-text-color: #000;
    --researchify-link-color: #BDDBD0;
    --researchify-color-primary: #CBC9AD;
    --researchify-color-secondary: #656839;
    --researchify-color-tertiary: #CBD0B9;
    --researchify-color-quaternary: #CBD0B9;
    --researchify-color-quinary: #BDDBD0;
}