#form-box {
  box-shadow: 0px 0px 15px -5px black;
  width: 40%;
  min-width: 400px;
  min-height: 500px;
}

#loginLink {
  padding-top: 8px;
  float: left;
}
#loginButton {
  margin-top: 50px;
  float: right;
}
