#cancelButton {
    background-color: rgb(255, 255, 255) 
}

#achievementsModal {
    border-radius: 1000px;
}

.achievementsModalTitle {
    padding-left: 2.4%;
}

.achievementsModalBody {
    padding-top: 4%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
}
