body {
    background-color: var(--researchify-color-primary);
    color: var(--researchify-text-color);
}

a {
    color: var(--researchify-link-color);
}

a:hover, a:focus, .navbar a:hover, .navbar a:focus {
    color: var(--researchify-link-hover-color);
}

.navbar {
    color: var(--researchify-text-color-secondary);
    background-color: var(--researchify-color-secondary);
}

.navbar a {
    color: var(--researchify-text-color-secondary);
}

.navbar a:hover, .navbar a:focus {
    color: var(--researchify-link-hover-color-secondary)
}

.publication-card .card-header {
    color: var(--researchify-text-color-secondary);
    background-color: var(--researchify-color-secondary);
}

.publication-card .card-body {
    background-color: var(--researchify-color-tertiary);
}

.pagination .page-item .page-link {
    background-color: var(--researchify-color-secondary);
    border-color: var(--researchify-color-secondary);
    color: var(--researchify-text-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--researchify-color-quaternary);
    border-color: var(--researchify-color-quaternary);
}

.pagination .page-item.disabled .page-link {
    background-color: var(--researchify-color-quinary);
    border-color: var(--researchify-color-quinary);
}

.team-card {
    color: var(--researchify-text-color-secondary);
    background-color: var(--researchify-color-secondary);
}