:root {
    --researchify-text-color: #000;
    --researchify-text-color-secondary: #fff;
    --researchify-link-color: #000;
    --researchify-link-hover-color: #8c94a5;
    --researchify-link-hover-color-secondary: #ffb3c1;
    --researchify-color-primary: #fff;
    --researchify-color-secondary: #ff4d6d;
    --researchify-color-tertiary: #ff8fa3;
    --researchify-color-quaternary: #ff4d6d;
    --researchify-color-quinary: #ff8fa3;
}

.navbar {
    color: #fff;
}

.publication-card .card-header {
    color: #fff;
}

.team-card {
    color: #fff;
}