:root {
    --researchify-text-color: #000;
    --researchify-text-color-secondary: #000;
    --researchify-link-color: #000;
    --researchify-link-hover-color: #8c94a5;
    --researchify-link-hover-color-secondary: #8c94a5;
    --researchify-color-primary: #fff;
    --researchify-color-secondary: #DEE4E7;
    --researchify-color-tertiary: #f6f9fa;
    --researchify-color-quaternary: #aecad8;
    --researchify-color-quinary: #DEE4E7;
}