:root {
  --researchify-text-color: #000;
  --researchify-text-color-secondary: rgb(92, 92, 92);
  --researchify-link-color: #2b7bb9;
  --researchify-link-hover-color: #3b94d9;
  --researchify-link-hover-color-secondary: #8c94a5;
  --researchify-color-primary: #fff;
  --researchify-color-secondary: #f6f9fa;
  --researchify-color-tertiary: #dee4e7;
  --researchify-color-quaternary: #aecad8;
  --researchify-color-quinary: #dee4e7;
}
