.twitter-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc !important;
  border-radius: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
  position: fixed;
}
