.header {
  top: 0;
  padding-top: 5px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #26282a;
  max-height: 70px;
}

.header-link {
  color: #56658a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
}

.header-link:hover {
  color: #414656;
  text-decoration: none;
}

.header-brand {
  color: #03a9f4;
  margin-left: 12px;
  font-family: "Fredoka One", cursive;
}

.heard-brand:hover {
  color: #2b61f2;
  text-decoration: none;
}

.header-profile-img {
  margin-right: 15px;
  border: #56658a;
  border-style: solid;
  border-width: 2px;
}