.header {
  top: 0;
  padding-top: 5px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #26282a;
  max-height: 70px;
}

.header-link {
  color: #56658a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
}

.header-link:hover {
  color: #414656;
  text-decoration: none;
}

.header-brand {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
}

.heard-brand:hover {
  text-decoration: none;
}

.header-profile-icon {
  font-size: 25px;
}

.header-profile-img {
  margin-right: 15px;
  border: #56658a;
  border-style: solid;
  border-width: 2px;
}