.teamPageContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.placeholder-text::placeholder {
  color: #A9A9A9
}

#teamMemberModal {
  border-radius: 1000px;
}

.teamMemberModalHeader {
  background-color: white;
}

.teamMemberTitle {
  padding-left: 2.4%;
}

.teamMemberBody {
  padding-top: 4%;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 5%;
}