.teamPageContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.placeholder-text::placeholder {
  color: #a9a9a9;
}

#teamMemberModal {
  border-radius: 1000px;
}

.teamMemberModalHeader {
  background-color: white;
}
