.profile-form {
  width: 100%;
  max-width: auto;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.profile-center {
  position: absolute;
  width: 780px;
  height: 650px;
  left: 50%;
  top: 50%;
  margin-left: -390px;
  margin-top: -325px;
}

/* Add a background color and some padding around the form */
.profile-container {
  width: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0px 0px 15px -5px black;
}

.profile-title-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
