.header{
    top: 0;
    padding-top: 5px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #26282A;
}

.profile-picture{
    height: 30px;
}

.header-link{
    color:#000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding: 15px;
}

.header-link:hover{
    color: #2B61F2;
    text-decoration: none;
}

.header-brand{
    color:#03A9F4;
    margin-left: 12px;
    font-family: 'Fredoka One', cursive;
}

.header-brand:hover{
    color: #2B61F2;
    text-decoration: none;
}

.header-profile{
    right: 0;
}