.header{
    top: 0;
    padding-top: 5px;
    background-color: hsl(0, 0%, 96%);
    width: 100% !important;
    
}

.profile-picture{
    height: 30px;
    position: absolute;
    left: 95%;    
}

.header-link{
    color:#000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding: 10px;
}

.header-link:hover{
    color: #2B61F2;
    text-decoration: none;
}

.header-brand{
    color:#03A9F4;
    margin-left: 12px;
    font-family: 'Fredoka One', cursive;
}

.header-brand:hover{
    color: #2B61F2;
    text-decoration: none;
}