.header{
    padding-top: 5px;   
    background-color: #03A9F4;
    font-family: 'Roboto';
}

.profile-picture{
    height: 30px;
}

.header-link{
    color:gainsboro;
}

.header-link:hover{
    color: white;
    text-decoration: none;
}

.header-brand{
    color:white;
}

.header-brand:hover{
    color: white;
    text-decoration: none;
}